<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 3</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../all.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card" ng-controller="lab10Controller">
                <div class="card-header text-center text-uppercase text-primary">Danh sách sinh viên</div>
                <div class="card-body">
                    <div class="row row-cols-2 mb-2">
                        <div class="col">
                            <span>Lớp hiện tại:</span>
                            <select class="form-control" ng-model="selectedCurrentClass">
                                <option ng-repeat="lop in DS_Lop" value="{{lop.malop}}">{{lop.tenlop}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <span>Lớp chuyển:</span>
                            <select class="form-control" ng-model="selectedTransferClass">
                                <option ng-repeat="lop in DS_Lop" value="{{lop.malop}}">{{lop.tenlop}}</option>
                            </select>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="input-group">
                                <label class="input-group-text">Họ và tên</label>
                                <input type="text" class="form-control" ng-model="tensv">
                                <button class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Danh sách lớp hiện tại</label>
                            <table class="form-control table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="" id=""></th>
                                        <th>Mã sinh viên</th>
                                        <th>Họ và tên</th>
                                        <th>Lớp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sv in sinhvien | filter: {malop_sv: selectedCurrentClass}" ng-click="fillForm(sv)">
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>{{sv.masv}}</td>
                                    <td>{{sv.tensv}}</td>
                                    <td>{{DS_Lop[sv.malop_sv - 1].tenlop}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-2">
                            <label class="disabled"></label>
                            <button class="btn btn-primary mb-2 w-100" ng-click=""><i class="fa-solid fa-angle-left fa-beat-fade"></i></button>
                            <button class="btn btn-primary mb-2 w-100"><i class="fa-solid fa-angle-right fa-beat-fade"></i></button>
                            <button class="btn btn-primary mb-2 w-100"><i class="fa-solid fa-angles-left fa-beat-fade"></i></button>
                            <button class="btn btn-primary mb-2 w-100"><i class="fa-solid fa-angles-right fa-beat-fade"></i></button>
                        </div>
                        <div class="col-5">
                            <label>Danh sách lớp chuyển</label>
                            <table class="form-control table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="" id=""></th>
                                        <th>Mã sinh viên</th>
                                        <th>Họ và tên</th>
                                        <th>Lớp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sv in sinhvien | filter: {malop_sv: selectedTransferClass}" ng-click="fillForm(sv)">
                                        <td><input type="checkbox" name="" id=""></td>
                                        <td>{{sv.masv}}</td>
                                        <td>{{sv.tensv}}</td>
                                        <td>{{DS_Lop[sv.malop_sv - 1].tenlop}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../all.min.js"></script>
<script src="../angularjs_1.8.2.min.js"></script>
<script>
    const app = angular.module('myApp', []);
    app.controller('lab10Controller', ($scope) => {
        $scope.DS_Lop = [
            {
                malop: 1, tenlop: ' CD21CT1'
            },
            {
                malop: 2, tenlop: 'CD21KT1'
            },
            {
                malop: 3, tenlop: 'CD21DH1'
            },
            {
                malop: 4, tenlop: 'CD21ML1'
            },
            {
                malop: 5, tenlop: 'CD21TC1'
            }
        ];
        $scope.sinhvien = [
            {
                masv: 501210001, tensv: 'Nguyễn Văn An', malop_sv: 1
            },
            {
                masv: 501210002, tensv: 'Nguyễn Văn Thành', malop_sv: 1
            },
            {
                masv: 501210003, tensv: 'Nguyễn Thành Nhân', malop_sv: 1
            },
            {
                masv: 501210004, tensv: 'Nguyễn Thành Lợi', malop_sv: 1
            },
            {
                masv: 501210005, tensv: 'Nguyễn Văn An', malop_sv: 2
            },
            {
                masv: 501210006, tensv: 'Quách Tấn Thành', malop_sv: 2
            },
            {
                masv: 501210007, tensv: 'Trần Ngọc Lĩnh', malop_sv: 2
            },
            {
                masv: 501210008, tensv: 'Nguyễn Hoài Thành', malop_sv: 2
            }
        ];
        /**
         * Hàm này được chạy khi nhấp vào 1 dòng
         */
        $scope.fillForm = function (student) {
            $scope.tensv = student.tensv;
            // Cập nhật selectedStudent
            $scope.selectedStudent = student;
        }
    });
</script>
</body>
</html>