<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Bài 6</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="angularjs_1.8.2.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <div class="card" ng-controller="lab4">
                    <div class="card-header">Bài 6 nhập vào mảng một chiều các số nguyên và xuất ra màn hình các
                        phần tử là số chính phương nằm tại những vị trí lẻ trong mảng</div>
                    <div class="card-body">
                        <label class="form-label">Nhập số phần tử</label>
                        <input type="text" class="form-control" ng-model="N">
                        <button class="btn btn-primary mt-3" ng-click="OutputPerfectSquare()">Ngẫu nhiên</button>
                    </div>
                    <div class="card-footer">
                        <label class="form-label">Các phần tử ngẫu nhiên trong mảng</label>
                        <textarea class="form-control text-secondary" readonly>{{arr}}</textarea>
                        <label class="form-label">Các phần tử là số chính phương</label>
                        <textarea class="form-control text-secondary" readonly>{{result}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        angular.module('myApp', [])
            .factory('ArrayService', () => {
                var factory = {};
                // Hàm sinh số ngẫu nhiên
                factory.RanDom = (n) => {
                    var randomArray = [];
                    for (let i = 0; i < n; i++) {
                        randomArray.push(Math.floor(Math.random() * 20) -10);
                    }
                    return randomArray;
                }
                // Hàm kiểm tra số chính phương
                factory.CheckPerfectSquare = (number) => {
                    // Kiểm tra xem số có là số nguyên dương không
                    if (number <= 0) {
                        return false;
                    }
                    // Tính căn bậc hai của số và kiểm tra nó có phải là số nguyên không
                    var squareRoot = Math.sqrt(number);
                    return squareRoot === Math.floor(squareRoot);
                };
                return factory;
            })
            .controller('lab4', ['$scope', 'ArrayService', ($scope, ArrayService) => {
                $scope.GenerateRandomArray = (n) => {
                    if (n) {
                        return $scope.arr = ArrayService.RanDom(n);
                    }
                },
                $scope.OutputPerfectSquare = () => {
                    let n = $scope.N;
                    let array = [];
                    $scope.arr = $scope.GenerateRandomArray(n);
                    $scope.arr.forEach( (item, index) => {
                        if(ArrayService.CheckPerfectSquare(item) && index % 2 === 1) {
                            array.push(item);
                        }
                    });
                    if(array.length > 0) {
                        $scope.result = array;
                    } else {
                        $scope.result = "Không có số chính phương nào";
                    }
                }
            }]);
    </script>

</body>
</html>