<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body ng-controller="myController">
<section class="container">
    <div class="row row-cols-1 justify-content-center g-3">
        <div class="col">
            <div class="card">
                <div class="card-header text-center text-uppercase bg-dark text-white">Bảng tính nước hàng tháng</div>
                <div class="card-body">
                    <div class="row row-cols-4 g-3">
                        <div class="col"> <label>Khách hàng</label> </div>
                        <div class="col"></div>
                        <div class="col"> <label>Chỉ số mới</label> </div>
                        <div class="col"> <label>Chỉ số cũ</label>  </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="name" required>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="new" ng-change="Consume()" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="old" ng-change="Consume()" required>
                        </div>
                        <div class="col"> <label>Số nhân khẩu</label> </div>
                        <div class="col"> <label>Số m<sup>3</sup> trong định mức</label> </div>
                        <div class="col"> <label>Số m<sup>3</sup> vượt định mức</label> </div>
                        <div class="col"> <label>Số m<sup>3</sup> tiêu thụ</label> </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="people" ng-change="Beyond()" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="within" ng-change="Beyond()">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="beyond" disabled>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="consume" ng-change="Beyond()" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" ng-click="add()"><i class="fa-solid fa-user-plus"></i></button>
                    <button class="btn btn-warning" ng-click="edit()"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                    <button type="button" class="btn btn-success" ng-click="clear()"><i class="fa-sharp fa-solid fa-arrows-rotate"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th ng-repeat="col in Columns">{{ col }}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dataList" ng-click="fillForm(item)">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.people}}</td>
                        <td>{{item.new}}</td>
                        <td>{{item.old}}</td>
                        <td>{{item.consume}}</td>
                        <td>{{item.within}}</td>
                        <td>{{item.beyond}}</td>
                        <td>{{item.money}}</td>
                        <td>{{item.tax}}</td>
                        <td>{{item.total}}</td>
                        <td><button type="button" class="btn btn-danger" ng-click="delete($index)"><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" class="text-center">Tổng cộng</td>
                        <td>{{TotalMoney()}}</td>
                        <td>{{TotalTax()}}</td>
                        <td>{{TotalAll()}}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/266bd35cca.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
    const app = angular.module('myApp', []);
    app.controller('myController', ['$scope', '$http', function ($scope, $http) {
        $scope.dataList = [];
        $scope.Columns = [ "STT", "Tên khách hàng", "Số nhân khẩu" ,"Chỉ số mới", "Chỉ số cũ", "Số m³ tiêu thụ", "Trong ĐM", "Vượt ĐM", "Tiền nước", "Thuế MT 10%", "Tổng"];
        $scope.selectedData = {};
        $scope.dataList = [
            {
                "name" : "Nguyễn Thành Trung",
                "people" : 3,
                "new" : 70,
                "old" : 0,
                "consume" : 70,
                "within" : 12,
                "beyond" : 58,
                "money" : 512000000,
                "tax" : 512000,
                "total" : 5545121545
            }
        ]
        $scope.add = function () {
            if (this.isInputValid()) {
                $scope.Money();
                $scope.Tax();
                $scope.Total();
                $scope.TotalMoney();
                $scope.TotalTax();
                $scope.TotalAll();
                const item = {
                    "no": this.dataList.length + 1,
                    "name": this.name,
                    "people": this.people,
                    "new": this.new,
                    "old": this.old,
                    "consume": this.consume,
                    "within": this.within,
                    "beyond": this.beyond,
                    "money": this.money,
                    "tax": this.tax,
                    "total": this.total
                };
                this.dataList.push(item);
                this.clear();
            } else {
                alert("Vui lòng điền đầy đủ thông tin trước khi thêm.");
            }
        }
        $scope.edit = function () {
            if(this.selectedData && this.selectedData.no) {
                // Tìm vị trí của sinh viên trong mảng và cập nhật thông tin
                const index = this.dataList.findIndex(function(item) {
                    return item.no === $scope.selectedData.no;
                });
                if (index !== -1) {
                    $scope.Money();
                    $scope.Tax();
                    $scope.Total();
                    $scope.TotalMoney();
                    $scope.TotalTax();
                    $scope.TotalAll();
                    this.dataList[index].name = this.name;
                    this.dataList[index].people = this.people;
                    this.dataList[index].new = this.new;
                    this.dataList[index].old = this.old;
                    this.dataList[index].consume = this.consume;
                    this.dataList[index].within = this.within;
                    this.dataList[index].beyond = this.beyond;
                    this.dataList[index].money = this.money;
                    this.dataList[index].tax = this.tax;
                    this.dataList[index].total = this.total;
                }
                // Sau khi chỉnh sửa xong, đặt lại selectedStudent và xóa trường nhập liệu
                $scope.selectedData = {};
                $scope.clear();
            }
        }
        $scope.delete = function (index) {
            if (confirm("Are you sure you want to delete this item?")) {
                $scope.dataList.splice(index, 1);
            }
        };
        /**
         * Hàm tính số m^3 tiêu thụ
         */
        $scope.Consume = function () {
            $scope.consume = $scope.new - $scope.old;
            $scope.Money();
            $scope.Tax();
        }
        /**
         * Hàm tính số m^3 vượt định mức
         */
        $scope.Beyond = function() {
            if ($scope.people < 4)
                $scope.within = 12;
            else
                $scope.within = $scope.people * 4;
            $scope.beyond = Math.max($scope.consume - $scope.within, 0);
            // $scope.Money();
            // $scope.Tax();
        }

        /**
         * Hàm tính tiền nước
         */
        $scope.Money = function() {
            $scope.money = $scope.within * 4000 + $scope.beyond * 8000;
        }
        /**
         * Hàm tính thuế
         */
        $scope.Tax = function() {
            $scope.tax = $scope.money * 0.1;
        }
        /**
         * Hàm tính tổng
         */
        $scope.Total = function() {
            $scope.total = $scope.money + $scope.tax
        }
        /**
         * Hàm tính tổng tiền nước
         */
        $scope.TotalMoney = function() {
            return $scope.dataList.reduce((total, item) => total + item.money, 0);
        }
        /**
         * Hàm tính tổng tiền thuế
         */
        $scope.TotalTax = function() {
            return $scope.dataList.reduce((total, item) => total + item.tax, 0);
        }
        /**
         * Hàm tính tổng All
         */
        $scope.TotalAll = function() {
            return $scope.dataList.reduce((total, item) => total + parseFloat(item.total || 0), 0);
        }
        /**
         * Hàm này được chạy khi nhấp vào 1 dòng
         */
        $scope.fillForm = function(data) {
            $scope.name = data.name;
            $scope.people = data.people;
            $scope.new = data.new;
            $scope.old = data.old;
            $scope.consume = data.consume;
            $scope.within = data.within;
            $scope.beyond = data.beyond;
            $scope.money = data.money;
            $scope.tax = data.tax;
            $scope.total = data.total;
            // Cập nhật selectedData
            $scope.selectedData = data;
        }

        /**
         * Clear input
         */
        $scope.clear = function () {
            this.name = '';
            this.people = '';
            this.new = '';
            this.old = '';
            this.consume = '';
            this.within = '';
            this.beyond = '';
            this.money = '';
            this.tax = '';
            this.total = '';
        }

        /**
         * Validate Form
         */
        $scope.isInputValid = function () {
            // Kiểm tra xem các trường nhập liệu có rỗng hay không
            return (
                this.name !== "" &&
                this.people !== "" &&
                this.new !== "" &&
                this.old !== ""
            );
        }
    }]);
</script>
</body>
</html>