<!DOCTYPE html>
<html lang="vi" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Lab 12</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/af-2.6.0/datatables.min.css" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body ng-controller="Lab12Controller">
<section class="container" ng-init="fetchData()">
    <div class="row row-cols-1 justify-content-center g-3 mt-2">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center text-uppercase fs-4 fw-bold text-primary">Quản lý sinh viên</div>
                <div class="card-body">
                    <form method="post" ng-submit="submitForm()">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id" ng-model="id" disabled>
                        <label>First Name</label>
                        <input type="text" class="form-control" name="first_name" ng-model="first_name" required>
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="last_name" ng-model="last_name" required>
                        <input type="hidden" name="hidden_id" value="{{hidden_id}}" />
                        <button type="submit" name="submit" class="btn btn-primary mt-2">{{ submit_button_title }}</button>
                    </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-success" role="alert" ng-show="success">
                {{successMessage}}
            </div>
            <div class="text-center bg-primary-subtle mb-2">
                <label class="py-3 text-uppercase fs-4">Danh sách sinh viên</label>
            </div>
            <table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col" ng-repeat="col in Columns" class="text-center">{{ col }}</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="name in namesData" ng-click="fillForm(name)">
                        <th scope="row" class="text-center"> {{ $index + 1 }} </th>
                        <td> {{ name.first_name }}</td>
                        <td> {{ name.last_name }}</td>
                        <td class="text-center">
                            <button type="button" ng-click="fetchSingleData(name.id)" class="btn btn-warning btn-sm">Edit</button>
                            <button type="button" ng-click="deleteData(name.id)" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.6.4/angular-datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/af-2.6.0/datatables.min.js"></script>

<script>
    const app = angular.module('App', ['datatables']);
    app.controller('Lab12Controller', ($scope, $http, DTOptionsBuilder) => {
        $scope.Columns = [ "STT", "First Name", "Last Name" ];
        $scope.selectedStudent = {};
        $scope.submit_button = "Insert";
        $scope.submit_button_title = "Add";
        $scope.success = false;
        $scope.error = false;
        $scope.init = () => {
            $scope.fetchData();
            $scope.dtOptions = DTOptionsBuilder.newOptions().withOption('order', [[0, 'asc']]);
        }
        $scope.fetchData = () => {
            $http.get('list.php').then(res => {
                $scope.namesData = res.data;
            }).catch(err => {
                console.log('Lỗi: ', err);
            });
        }

        $scope.submitForm = () => {
            if ($scope.submit_button === 'Insert') {
                $http({
                    method: "POST",
                    url: "Insert.php",
                    data: {
                        'first_name': $scope.first_name,
                        'last_name': $scope.last_name,
                        'action': $scope.submit_button,
                        'id': $scope.hidden_id
                    }
                }).then( (res) => {
                    $scope.success = true;
                    $scope.error = false;
                    $scope.successMessage = res.data.message;
                    $scope.form_data = {};
                    $scope.fetchData();
                    $scope.clear();
                }).catch(err => {
                    $scope.success = false;
                    $scope.error = true;
                    $scope.errorMessage = err.data.error;
                    console.log('Lỗi: ', err);
                });
            } else if ($scope.submit_button === 'Edit') {
                // Xử lý sửa dữ liệu
                $http({
                    method: "POST",
                    url: "Edit.php",
                    data: {
                        'first_name': $scope.first_name,
                        'last_name': $scope.last_name,
                        'action': 'Edit',
                        'id': $scope.hidden_id
                    }
                }).then( (res) => {
                    $scope.success = true;
                    $scope.error = false;
                    $scope.successMessage = res.data.message;
                    $scope.form_data = {};
                    $scope.fetchData();
                    $scope.clear();
                }).catch(err => {
                    $scope.success = false;
                    $scope.error = true;
                    $scope.errorMessage = err.data.error;
                    console.log('Lỗi: ', err);
                });
            }


        };

        $scope.fetchSingleData = (id) => {
            $http({
                method:"POST",
                url:"Edit.php",
                data:{'id':id, 'action':'fetch_single_data'}
            }).then(res => {
                $scope.id = id;
                $scope.first_name = res.data.first_name;
                $scope.last_name = res.data.last_name;
                $scope.hidden_id = id;
                $scope.submit_button = 'Edit';
                $scope.submit_button_title = 'Edit';
            }).catch(err => {
                console.log('Lỗi: ', err);
            });
        };

        $scope.deleteData = (id) =>{
            if(confirm("Bạn có muốn xóa hay không?")) {
                $http({
                    method:"POST",
                    url:"Delete.php",
                    data:{'id': id, 'action':'Delete'}
                }).then( (res) => {
                    $scope.success = true;
                    $scope.error = false;
                    $scope.fetchData();
                    $scope.successMessage = res.data.message;
                }).catch(err => {
                    console.log('Lỗi: ', err);
                });
            }
        };

        /**
         * Hàm này được chạy khi nhấp vào 1 dòng
         */
        $scope.fillForm = (student) => {
            $scope.id = student.id;
            $scope.first_name = student.first_name;
            $scope.last_name = student.last_name;
            // Cập nhật selectedStudent
            $scope.selectedStudent = student;
        }

        /**
         * Clear input
         */
        $scope.clear = () => {
            $scope.id = "";
            $scope.first_name = "";
            $scope.last_name = "";
            $scope.hidden_id = "";
            $scope.submit_button = "Insert";
            $scope.submit_button_title = "Add";
        }
    });
</script>
</body>
</html>
