<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài 4</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
</head>
<body ng-app="App">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card" ng-controller="Controller">
                <div class="card-header text-uppercase text-center text-bg-primary">Danh sách hàng hóa</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-primary" ng-repeat="col in columns" ng-click="sortBy(col.key)">
                                {{ col.name }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in dataList | orderBy:prop:reverse | limitTo:8:begin">
                            <td>{{ item.name }}</td>
                            <td>{{ item.price | currency : 'VNĐ ' : '0'}}</td>
                            <td>{{ item.discount | percentage:2 }}</td>
                            <td>{{ item.date | date:"MMMM-dd-yyyy" }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" ng-click="first()">First</button>
                    <button class="btn bg-primary-subtle" ng-click="prev()">Prev</button>
                    <button class="btn bg-primary-subtle" ng-click="next()">Next</button>
                    <button class="btn btn-primary" ng-click="last()">Last</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./angularjs_1.8.2.min.js"></script>
<script>
    const app = angular.module('App', []);
    app.controller('Controller', ['$scope', '$http', '$filter', ($scope, $http, $filter) => {
        $scope.dataList = [];

        $scope.columns = [
            { key: 'name', name: 'Sản phẩm' },
            { key: 'price', name: 'Đơn giá' },
            { key: 'discount', name: 'Giảm giá' },
            { key: 'date', name: 'Ngày mua' }
        ];

        $scope.prop = '';
        $scope.reverse = false; // sắp xếp tăng (true, mặc định)


        const sortOrders = {}; // Lưu trạng thái sắp xếp cho từng cột

        $http.get('data.json')
            .then((response) => {
                $scope.dataList = response.data;
                $scope.pageCount = Math.ceil($scope.dataList.length / 8);
            })
            .catch((error) => {
                console.error(error);
            });

        $scope.sortBy = (prop) => {
            if ($scope.prop === prop) {
                $scope.reverse = !$scope.reverse;
            } else {
                $scope.prop = prop;
                $scope.reverse = false;
            }
            if (!sortOrders[prop]) {
                sortOrders[prop] = false;
            }
            sortOrders[prop] = !sortOrders[prop];
            $scope.dataList = $filter('orderBy')($scope.dataList, prop, sortOrders[prop]);
        };

        $scope.begin = 0;
        $scope.first = () => {
            $scope.begin = 0;
        };
        $scope.prev = () => {
            if ($scope.begin > 0) {
                $scope.begin -= 8;
            }
        };
        $scope.next = () => {
            if ($scope.begin < ($scope.pageCount - 1) * 8) {
                $scope.begin += 8;
            }
        };
        $scope.last = () => {
            $scope.begin = ($scope.pageCount - 1) * 8;
        };
    }]);

    app.filter('percentage', ($filter) => {
        return (input, decimals) => {
            return $filter('number')(input * 100, decimals) + ' %';
        }
    });

</script>
</body>
</html>
